.tile {
  background: url(file:/assets/flatcat.png);
  width: 200px;
  height: 286px;
  position: absolute;
  left: 50%;
  top: 50%;
}


.scoreBox {
  background: red;
  float: left;
  text-align: right;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  color: white;
}